<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        This is the demo application for the Django course.
    </p>
    <p>
        There are currently {{ num_of_meetings }} meeting(s) set in the calendar.
    </p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <!-- <a href="/meetings/{{ meeting.id }}">{{ meeting.title }}</a> -->
                <a href="{% url 'meeting_detail' meeting.id %}">{{ meeting.title }}</a>
            </li>
        {%  endfor %}
    </ul>
    <p>
        To check available rooms,
        <a href="{%  url 'rooms' %}">Click here</a>
    </p>
</body>
</html>